openapi: 3.1.0
info:
  title: SambaCloud Chat Embeddings API
  description: 'SambaCloud is SambaNova''s managed inference API for open-source models

    (DeepSeek, Llama, Gemma, MiniMax, gpt-oss). The HTTP surface is

    OpenAI-compatible: chat completions, completions, embeddings, and

    model listing endpoints all match the OpenAI shape so existing OpenAI

    clients can be pointed at `https://api.sambanova.ai/v1` by changing

    base URL and API key.

    '
  version: '2026-05-23'
  contact:
    name: SambaNova
    url: https://docs.sambanova.ai
servers:
- url: https://api.sambanova.ai/v1
  description: SambaCloud production
security:
- bearerAuth: []
tags:
- name: Embeddings
paths:
  /embeddings:
    post:
      summary: Create embeddings
      description: OpenAI-compatible embeddings endpoint for supported models.
      operationId: createEmbeddings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - model
              - input
              properties:
                model:
                  type: string
                input:
                  oneOf:
                  - type: string
                  - type: array
                    items:
                      type: string
                encoding_format:
                  type: string
                  enum:
                  - float
                  - base64
      responses:
        '200':
          description: Embeddings response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      tags:
      - Embeddings
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'SambaCloud API key issued from the /apis dashboard on

        cloud.sambanova.ai, sent as `Authorization: Bearer <key>`.

        '
